.tequan_line{
	width:80%;
	height:1rpx;
	background-color:#008800;
	margin:70rpx auto 50px;
	text-align:center;
}
.tequan-title{
	width:200rpx;
	height:40rpx;
	background-color:white;
	margin:0 auto;
	font-size:30rpx;
	color:#008800;
	position:relative;
	top:-20rpx;
	display:block;
}
.cover{
	width:80%;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.part{
	float:left;
	text-align:center;
}
.shipin{
	width:78rpx;
	height:65rpx !important;
}
.part text{
	color:#999999;
	font-size:30rpx;
}
.part_two{
	position:absolute;
	left:45%;
}
.part_three{
	position:absolute;
	right:0%;
}
.box{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top: 20rpx;
}
.bottom-txt{
	width:80%;
	margin:20rpx auto;
	display:flex;
	align-items:center;
	margin-left:108rpx;
}
.bottom-txt text{
	font-size:28rpx;
	color:#008800;
	width:30%;
	display:inline-block;
	text-align:center;
	border-right:1rpx solid #008800;
}
.bottom-txt text:last-child{
	border-right:0;
}