.guize_bg {
	background-color: #008f00;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 40rpx;
}

.guize_bg_white {
	background-color: white;
	width: 90%;
	height: 1000rpx;
	border-radius: 10rpx;
	margin: 0 auto;
	text-align: center;
	padding: 40rpx 45rpx;
	box-sizing: border-box;
}

.guize_line {
	text-align: center;
	line-height: 1;
	position: relative;
}

.titleimg {
	width: 192rpx;
	height: 4rpx;
	background-size: 100% 100%;
	position: relative;
	top: -5rpx;
}

.guize_line text {
	margin: 0 15rpx 0;
	font-size: 30rpx;
}

.duanluo {
	width: 100%;
	text-align: left;
	padding-top: 45rpx;
}

.guizetext {
	color: #7C7C7C;
	font-size: 30rpx;
}
