/*用户信息*/
.top{
	background-color:#080;
	width:100%;
	height:260rpx;
	padding:20rpx 35rpx 0;
	position:relative;
	margin-bottom:70rpx;
	box-sizing: border-box;
}
.topleft {
	width:138rpx;
	height:138rpx;
	border-radius:50%;
	border:8rpx solid #8ac88a;
	margin-right:30rpx;
}
.topfloat{float: left;}
.userimg{
	width:100%;
	height:100%;
	background-size:100% 100%;
	border-radius:50%;
}
.topright{
	color:#fff;
	line-height:1;
	position:relative;
	top:15rpx;
}
.username{
	font-size:38rpx;
	margin-bottom:46rpx;
}
.qiandao{
	width:128rpx;
	height:50rpx;
	display: inline-block;
}
.imgqian{
	width:32rpx;
	height:32rpx;
	background-size:100% 100%;
	position:relative;
	top:10rpx;
	margin-right:10rpx;
	margin-left: 30rpx;
}
.jifensay{
	width:205rpx;
	height:60rpx;
	position:absolute;
	top:30rpx;
	right:35rpx;
	background:url(../../static/my/jifenback.png);
	background-size:100% 100%;
}
.jifensay text{
	font-size:24rpx;
	color: #fff;
}
.imghou{
	width:11rpx;
	height:21rpx;
	background-size:100% 100%;
	margin-left:5rpx;
}
.myyouhuijuan{
	width:90%;
	height:87rpx;
	line-height:87rpx;
	padding:0 35rpx;
	margin:0 auto;
	background-color:#fff;
	border-radius:44rpx;
	box-shadow:0px 0px 51px 11px rgba(0, 136, 0, 0.11);
	position:absolute;
	bottom:-65rpx;
	font-size:30rpx;
	color:#454845;
	z-index:999;
	margin-bottom:20rpx;
	box-sizing: border-box;
}
.yhjimg{
	width:42rpx;
	height:41rpx;
	background-size:100% 100%;
	margin-right:20rpx;
	position:relative;
	top:5rpx;
}
.myyouhuijuan text{
	font-size:30rpx;
	color:#454845;
}
.rightimg{
	width:16rpx;
	height:30rpx;
	background-size:100% 100%;
	position:absolute;
	right:35rpx;
	top:30rpx;
}
/*用户信息结束*/
/*我的订单*/
.myorder{
	background-color:#fff;
	width:100%;
	height:308rpx;
	margin-bottom:15rpx;
}
.myordertitle{
	width:100%;
	height:70rpx;
	position:relative;
	padding:0 30rpx;
	line-height:70rpx;
	box-sizing: border-box;
}
.myBill{
	font-size: 36rpx;
	color: #484646;
	font-weight: bold;
}
.rightorder{
	position:absolute;
	right:30rpx;
	top:0;
}
.rightorder text{
	font-size: 30rpx;
}
.rightorder image{
	width:16rpx;
	height:27rpx;
	margin-left:10rpx;
	position:relative;
	top:5rpx;
}
.ordercont{
	width:94%;
	margin:0 auto;
	font-size: 0;
	padding-top: 35rpx;
}
.ordercontlist{
	width: 25%;
	display: inline-block;
	text-align: center;
}
.ordercontlistimage{
	width:100rpx;
	height:100rpx;
	background-size:100% 100%;
	margin-bottom:20rpx;
}
.ordercontlisttext{
	display: block;
	text-align: center;
	font-size:31rpx;
	color:#454845;
	font-weight:bold;
}
/*我的订单结束*/
/*会员中心*/
.viplist{
	width: 25%;
	display: inline-block;
	text-align: center;
}
/*会员中心结束*/
/*个性签名*/
.personalized{
	background-color:#fff;
	width:100%;
	height:90rpx;
	margin-bottom:15rpx;
}
.gerenzhongxin{
	width:35rpx;
	height:35rpx;
	background-size:100% 100%;
	margin-right:20rpx;
	vertical-align:middle;
	margin-left:22rpx;
}
.lstgjl{
	width:40rpx;
	height:40rpx;
	background-size:100% 100%;
	margin-right:20rpx;
	vertical-align:middle;
	margin-left:22rpx;
}
/*个性签名结束*/
/*我的打卡记录*/
.recommend{
	width:100%;
	height:69rpx;
	background-color:#fff;
}
.recommend text{
	height:33rpx;
	line-height:33rpx;
	font-size:30rpx;
	font-weight:bolder;
	border-left:6rpx solid #008800;
	padding-left:10rpx;
	margin: 15rpx 0 0 30rpx;
}
.studylist{
	width:100%;
	height:auto;
	display:inline-block;
}
.recommend-item {
	padding: 20rpx;
	width: 100%;
	background-color: #fff;
	padding-left: 30rpx;
	padding-bottom: 6rpx;
	border-bottom: 20rpx solid #f5f5f5;
	box-sizing: border-box;
}

.item-top {
	margin-bottom: 20rpx;
	position: relative;
}

.touxiangicon {
	width: 74rpx;
	height: 74rpx;
	background-size: 100% 100%;
	border-radius: 50%;
	margin-right: 25rpx;
}

.info {
	position: absolute;
	top: 5rpx;
	left: 95rpx;
	font-size: 0;
}

.item-top .title {
	font-size: 32rpx;
	color: #008800;
	display: block;
}

.item-top .time {
	font-size: 24rpx;
	color: #848484;
	margin-right: 30rpx;
}

.item-middle {
	width: 100%;
	height: auto;
}

.item-middle .conttext {
	font-size: 31rpx;
	display: inline-block;
	margin-bottom: 20rpx;
}

.middle-image image {
	width: 31%;
	height: 200rpx;
	margin-bottom: 20rpx;
	background-size: 100% 100%;
	margin-right: 10rpx;
}

.smallicon {
	height: 85rpx;
	border-top: 3rpx solid #f5f5f5;
	margin-top: 50rpx;
}

.smallicon-flex {
	width: calc(100% / 3);
	float: left;
}

.smallicon-flex image {
	vertical-align: middle;
}

.smallicon-flex text {
	line-height: 85rpx;
	font-size: 30rpx;
	margin-left: 20rpx;
}
/*我的打卡记录结束*/